html{
    max-width: 960;
    background-image: url(../images/paperTexture.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


/*HEADER SECTION*/
header{
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
    border-bottom: solid 1px black;
    background-color: rgba(9, 87, 87,.75);
    text-align: left;
    border-bottom: black 1px solid;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    /* position: fixed; */
    /* top: 0;
    left: 0;
    z-index: 100; */
}

#headerWelcome{
    font-family: 'Shadows Into Light';
    text-align: center;
    color: white;
    padding: 5px;
    font-size: 35px;
}   

#menuBtn {
    background-color: rgba(9, 87, 87,.40);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
#menuDropdown {
    position: relative;
    display: inline-block;
  }
  
 #menuList {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  #menuList a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  #menuList a:hover {background-color: #ddd;}
  #menuDropdown:hover #menuList {display: block;}
  #menuDropdown:hover #menuBtn {background-color:rgb(9, 87, 87);}/* Dropdown Button */

  #menuBtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  #menuDropdown {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
  }
  
  #menuList {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  #menuList a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  #menuList a:hover {background-color: #ddd;}
  #menuDropdown:hover #menuList {display: block;}
  #menuDropdown:hover #menuBtn {background-color: rgb(9, 87, 87);}

#logo{
    position: absolute;
    top: 5px;
    left: 95%;
    margin: auto 0px;
    border: 1PX black solid;
}


/* MAIN SECTION
-------------------
 -- weeklyDisplaySection */
main{
    text-align: center;
}


/* ==============
FORM SECTION
=====================*/
#addNewTask_Form{
    width: 65%;
    font-family: 'Shadows Into Light';
    font-size: 24px;
    text-align: left;
    align-self: auto;
    border: black solid 1px;
    background-color: lemonchiffon;
    padding: 10PX;  
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

#addNewTask_Form h3{
    font-family: 'Shadows Into Light';
    font-size: 30px;
    font-weight: bolder;
    text-align: left;
    padding-bottom: 10px;
    /* width: 90%; */
    /* margin-right: 30px;  */
}

#addNewSection{
    display: block;
    margin-left: 15px;
    width: 50%;
}


/* dropdown Category Menu
=====================*/
#taskCategory{
    width: 50%;
    text-align: right;
    font-size: 18px;
    height: 30px;
    margin: 10px;
}

#timeOfDay_Dropdown{
    width: 100%;
    display: none;
}

#daytimeSelected{
    width: 50%;
    text-align: right;
    font-size: 20px;
    height: 30px;
    margin: 10px;
}

#taskEntered{
    margin-bottom: 15px;
    height: 30px;
    font-size: 18px;
    width: 100%;
}

.dayCheckBox{
    height: 15px;
    width: 15px;
    margin-right: 1px;
}

/* days of the week
=====================*/
#daysTaskApplied{
    justify-content: space-evenly;
    font-size: 20px;
    width: 100%;
    margin-bottom: 10px;
}

/* form buttons
====================*/
#detailButton{
    margin-right: 80px;
    font-size: 12px;

}
#weeklyDisplaySection{
    width: 96%;
    font-size: 20px;
    text-align: center;
    display: inline-flex;
    min-height: 250px;
    max-height: fit-content;
    /* height: 500px; */
    margin-bottom: 30px;
    max-height: fit-content;
}

.displayDay{
    font-family: 'Shadows Into Light';
    font-size: 22px;
    border: black 1px solid;
    width: 100%;
    height: initial;
    background-color:lemonchiffon;
}

.displyHeaderDay{
    background-color: rgba(109,109,109,.75);
    padding: 4px 0px;
    margin-bottom: 10px;
}

.displayListDay{
    width: 96%;
    margin: auto;
    min-height: 50px;
    padding: 4px 0px;
    border: black solid 1px;
}


#ExerciseTask{
    font-family: 'Shadows Into Light';
    background-color: rgba(0, 128, 128, .5);
    border: black 1px solid;
    border-radius: 5px;
    margin: px;
}


#MealsTask{
    font-family: 'Shadows Into Light';
    background-color: rgba(255, 127, 80, .75);
    border: black 1px solid;
    border-radius: 5px;
    margin: 2px;
}

#ToDoTask{
    font-family: 'Shadows Into Light';
    background-color: rgba(255, 255, 0,.75);
    border: black 1px solid;
    border-radius: 5px;
    margin: 2px;
}

#ActivityTask{
    font-family: 'Shadows Into Light';
    background-color: rgba(100, 149, 237, .75);
    border: black 1px solid;
    border-radius: 5px;
    margin: 2px;
}

/* =============================
 ENTIRE SECTION BOX (FORM & CHART)
=====================*/
#formChartSection{
    width: 100%;
    text-align: left;
    display: inline-flex;
}


/* #addNewSection{
    width: 100%;
    margin-bottom: 10px;
} */


/* ==============
 CHART SECTION
=====================*/
#myChart{
    align-self: auto;
    /* display: block;
    border: black solid 1px;
    width: 75px
    margin: auto;
    height: 75px;
    margin-right: 20px; */
}

/* ==============
 FOOTER
=====================*/
footer{
    background-color:gray;
    width: 100%;
    height: 50PX;
    border-top: black 1PX solid;
    margin-top: 30PX;
}