/* https://www.w3schools.com/howto/howto_css_dropdown.asp */

main{
    padding: 20px;
}


/**************************
LEFT: LIST SECTION
***************************/
#detailedList{
    width: fit-content;
    background-color: rgba(255, 250, 205,.75);
    border: 1px solid black;
    padding: 15px;
    text-align: left;
    float: left;
    box-shadow: 0px 8px 16px 0px rgba(1, 53, 53, 0.25);
    margin-left: 20px;
}


#detailCat{
    width: 100%;
    margin-bottom: 15px;
}


#listHeader{
    font-size: 24px;
    font-weight: bold;
    color: rgb(6, 55, 55);
    font-family: 'Bad Script', cursive;
    float: left;
    width: 100%;
}

#taskCat{
    width: 25%;
    float: right;
    margin: 0px;
    display: none;
}


#addNewItem{
    display: inline-flex;
    margin-bottom: 4%;
    width: 100%;
}

#enterNewItem{
    width: 75%;
}

#categoryList{
    min-height: 200px;
    max-height: fit-content;
}

#categoryList li{
    margin-left: 5%;
    padding: 1%;
    width: 80%;
    color: black;
}

#categoryList li:hover{
    background-color: rgb(210, 209, 209);
    color: black;
}

#categoryList li::selection{
    background-color:blue;
    color: white;
}

#deleteTask{
    font-size: 14px;
    padding: 5px;
    margin-top: 20px;
    font-weight: bolder;
}

#deleteTask:hover{
    background-color: teal;
    color: white;
}


/**************************
RIGHT: DETAIL SECTION
***************************/
#detailedInfo{
    width: 63%;
    border: 1px solid black;
    padding: 20px;
    background-color: rgba(255, 250, 205,.75);
    float: right;
    margin-right: 50px;
    box-shadow: 0px 8px 16px 0px rgba(1, 53, 53, 0.25);
}

#detailedInfo h2{
    font-size: 30px;
    padding-bottom: 3%;
}

#infoSection{
    margin-left: 2%;
    width: 75%;
    display: grid;
}

#detailPic{
    text-align: right;
    position: fixed;
    left: 83%;
    top: 15%;
}

button{
    padding: auto;
    margin-left: 5px;
}

button:hover{
    background-color: teal;
    color: white;
}

#saveInfo{
    font-size: 14px;
    padding: .5%;
    margin-top: 1%;
    font-weight: bolder;
}

#saveInfo:hover{
    background-color: teal;
    color: white;
}

label{
    width: 120px;
    text-align: right;
    display: inline-flex;
    padding: 3px;
}


div[class*="list_"]{
    /* border: springgreen 2px solid; */
    display: inline-flex;
    width: 80%;
}


#toDoDelete{
    height: 20px;
    width: 20px;
    padding: auto;
    padding-right: 4px;
    margin: 2px;
    z-index: 1;
}

.addNewToDo{
    display: inline-flex;
}

div p{
    width: 80%;
}

#detailCat {
    display: inline-flex;
    width: 80%;
}

#lblCat{
    width: 100%;
}

#ingredients{
    display: block;
    width: 80%;
    margin-right: 20%;
}


textarea{
    width:90%;
    font-family: Arial, Helvetica, sans-serif;
    height: fit-content;
    overflow: hidden;
}

.arr_ingredients{
    width: 70%;
}

input[class*="ckbox"]{
    width: 20px;
    height: 15px;
}

#servings{
    width: 25px;
    margin-left: 15px;
}

#prepTime{
    width: 50px;
    margin-left: 7px;
}

#cookedTime{
    width: 70px;
    margin-left: 7px;
}


#addNewTask{
    width: 200px;
}

