
#groupDisplaySection{
    width: 96%;
    text-align: center;
    display: inline-flex;
    min-height: 500px;
    max-height: fit-content;
    margin-bottom: 20px;
    max-height: fit-content;
    justify-content: space-between;
}

.memberSection{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: black 1px solid;
    width: 320px;
    height: 600px;
    background-color: #B37656;
    padding: 10px;
}

.memberName{
    font-family: 'Shadows Into Light';
    font-size: 35px;
    background-color: #44B3AE;
    padding: 4px 0px;
    margin-bottom: 15px;
}

.memberPic{
    margin: auto;
    border: black solid 1px;
}

#grow:hover
{
        -webkit-transform: scale(1.0);
        -ms-transform: scale(1.3);
        transform: scale(1.1);
}

p{
    margin-top: 20px;
    font-size: 17px;
}
main{
    text-align: center;
}
